{% extends 'base.html' %}

{% load static %}

{% block title %}Call of Style{% endblock %}

{% block content %}
<section class="hero" role="banner">
    <div class="hero-content">
        <h1>Найди свой стиль</h1>
        <a href="{% url 'catalog' %}" class="btn">Перейти в каталог</a>
    </div>
</section>

<section class="popular-screw">
  <div class="popular-screw-header">
    <h2>Популярные товары</h2>
  </div>

  <div class="screw-scroll" id="screwScroll">
    <!-- Слой карточек (НЕ создаёт ширину) -->
    <div class="screw-stage" id="screwStage">
      {% for product in products %}
        <div class="screw-item">
          {% include "main/_product_card.html" with product=product %}
        </div>
      {% endfor %}
    </div>

    <!-- Фейковая ширина (создаёт скролл) -->
    <div class="screw-spacer" id="screwSpacer"></div>
  </div>
</section>

{% endblock %}
